<form
  (ngSubmit)="signupForm.valid && onSubmit()"
  #signupForm="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input
      class="form-control"
      type="text"
      id="firstname"
      name="firstname"
      [(ngModel)]="user.firstname"
      #firstname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
    <div *ngIf="signupForm.submitted && firstname.errors">
      <div *ngIf="firstname.errors?.['required']">Le prénom est requis.</div>
      <div *ngIf="firstname.errors?.['minlength']">
        Le prénom doit comporter au moins 3 caractères.
      </div>
      <div *ngIf="firstname.errors?.['maxlength']">
        Le prénom ne doit pas dépasser 15 caractères.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input
      class="form-control"
      type="text"
      id="lastname"
      name="lastname"
      [(ngModel)]="user.lastname"
      required
      minlength="3"
      maxlength="15"
      #lastname="ngModel"
    />
    <div *ngIf="signupForm.submitted && lastname.errors">
      <div *ngIf="lastname.errors?.['required']">
        Le nom de famille est requis.
      </div>
      <div *ngIf="lastname.errors?.['minlength']">
        Le nom de famille doit comporter au moins 3 caractères.
      </div>
      <div *ngIf="lastname.errors?.['maxlength']">
        Le nom de famille ne doit pas dépasser 15 caractères.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      class="form-control"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
      email
      #email="ngModel"
    />
    <div *ngIf="signupForm.submitted && email.errors">
      <div *ngIf="email.errors?.['required']">L'email est requis.</div>
      <div *ngIf="!email.errors?.['required'] && email?.['invalid']">
        L'email est invalide.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      [(ngModel)]="user.password"
      required
      #password="ngModel"
    />
    <div *ngIf="signupForm.submitted && password.errors">
      <div *ngIf="password.errors?.['required']">
        Le mot de passe est requis.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-danger">Inscription</button>
</form>
